<!DOCTYPE html>
<html>

<body style="text-align:center;">

    <body>
        <script type=text/javascript>
       const movie_name = {{ movie_name|tojson }};
    </script>


    <video id="video" defaultMuted autoplay playsinline controls>
        <source src="{{ url_for('media_video', filename=movie_name) }}" type="video/{{movie_ext}}">
        Your browser does not support the video tag.
    </video>
    <br>
    <br>
    <a href="{{url_for('upload_file')}}">Return to home</a>
    <br>
    <br>
    <br>
    <a href="https://www.paperspace.com/">
    <img src="https://d25hn4jiqx5f7l.cloudfront.net/companies/logos/thumb/paperspace_1536862891.png?1536862891" width=80 height=60 alt="Paperspace logo">

</body>

</html>
